/* style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

nav {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ccc;
}
a {
  text-decoration: none;
  color: #007BFF;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.user-input{
  text-decoration: none;
  height: 5px;
  text-align: center;
  padding: 5px;

}

.cars{
  width: 100%;
  
}
